.custom-nav-link {
  position: relative;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f8f9fa;
}

.custom-nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #f8f9fa;
  transition: width 0.3s ease, left 0.3s ease;
}

.custom-nav-link:hover::before {
  width: 100%;
  left: 0;
}
